In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

from sklearn.preprocessing import MinMaxScaler, RobustScaler, Normalizer, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

import os
import conda

import locale
from datetime import datetime
from IPython.display import HTML
locale.setlocale(locale.LC_ALL, 'en_US.UTF8')

'en_US.UTF8'

In [2]:
pd.set_option('mode.chained_assignment','raise')
pd.options.display.max_rows = 4000
pd.options.display.max_columns = 4000

# About NIH awards data

NIH data was imported from [FY 2019 RePORTER Project Data](https://exporter.nih.gov/CSVs/final/RePORTER_PRJ_C_FY2019.zip) and the report listing page [exporter.nih.gov](https://exporter.nih.gov/ExPORTER_Catalog.aspx?sid=5&index=0). An [explanation of the fields](https://exporter.nih.gov/about.aspx) is helpful for analysis.

# Project structure

```bash session
├── NIH-awards.ipynb       # this jupyter notebook
├── data
│   ├── nih                # holds all exporter csv files
│   └── zips               # us-zip-code-latitude-and-longitude.csv
├── out
│   ├── csv                # any csv output
│   ├── json               # any json output
│   └── models             # any saved models
└── utils
    ├── get_csvs           # script to download all the exporter csv files (requires curl)
    └── reporter_files.txt # list of exporter files to get
```

# Import the data

In [3]:
# Run the get_csvs utility to download files into the `data` from exporter.nih.gov
# The file ./utils/reporter_files.txt contains a list of all files to get

# date_downloaded = !date -Is
# ! ./utils/get_csvs
# date_downloaded

In [4]:
files = !find ./data/exporter/ -name "*RePORTER_PRJ*" -exec echo "{}" \;
files = list(set(files) - set(['./data/exporter/RePORTER_PRJ_C_FY2018.csv', './data/exporter/RePORTER_PRJ_C_FY2017.csv', './data/exporter/RePORTER_PRJ_C_FY2016.csv']))
files.sort()
len(files)

35

In [5]:
all_cols = !head -n 1 './data/exporter/RePORTER_PRJ_C_FY2019.csv'
all_cols = all_cols.s.split(',')

In [6]:
# ignore these columns
ignore = ['ARRA_FUNDED', 'FOA_NUMBER', 'ED_INST_TYPE', 'ORG_FIPS', 'ORG_DUNS', 'ORG_IPF_CODE', 'CFDA_CODE']

In [7]:
cols = list(set(all_cols) - set(ignore))

In [8]:
def create_dataframe(name):
    '''
    Return a DataFrame with an added column `fromfile` to denote
    which file the data came from
    '''
    head, tail = os.path.split(name)
    _df = pd.read_csv(name, dtype={ 'ORG_ZIPCODE': 'str' }, usecols=cols, parse_dates=["AWARD_NOTICE_DATE","BUDGET_START","BUDGET_END"], encoding="ISO-8859-1")
    _df['fromfile'] = tail
    return _df

In [9]:
%%time
date_imported = !date -Is
v = [create_dataframe(name) for name in files]
date_imported

CPU times: user 7.32 s, sys: 975 ms, total: 8.29 s
Wall time: 11.6 s

['2020-05-29T12:24:15+00:00']

### Concat all DataFrames

In [10]:
%%time
df = pd.concat(v,ignore_index=True)

CPU times: user 1.03 s, sys: 158 ms, total: 1.19 s
Wall time: 1.19 s

In [11]:
original_df_len = len(df)
original_df_len

110276

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110276 entries, 0 to 110275
Data columns (total 40 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   APPLICATION_ID          110276 non-null  int64
 1   ACTIVITY                110276 non-null  object
 2   ADMINISTERING_IC        110276 non-null  object
 3   APPLICATION_TYPE        108775 non-null  float64
 4   AWARD_NOTICE_DATE       105643 non-null  datetime64[ns]
 5   BUDGET_START            105710 non-null  object
 6   BUDGET_END              105633 non-null  object
 7   CORE_PROJECT_NUM        108943 non-null  object
 8   FULL_PROJECT_NUM        110276 non-null  object
 9   FUNDING_ICs             107143 non-null  object
 10  FUNDING_MECHANISM       110268 non-null  object
 11  FY                      110276 non-null  int64
 12  IC_NAME                 110276 non-null  object
 13  NIH_SPENDING_CATS       8 non-null       object
 14  ORG_CITY                107012 non-null  object
 15  ORG_COUNTRY             107012 non-null  object
 16  ORG_DEPT                66637 non-null   object
 17  ORG_DISTRICT            105940 non-null  float64
 18  ORG_NAME                110184 non-null  object
 19  ORG_STATE               106194 non-null  object
 20  ORG_ZIPCODE             106998 non-null  object
 21  PHR                     93857 non-null   object
 22  PI_IDS                  110276 non-null  object
 23  PI_NAMEs                110276 non-null  object
 24  PROGRAM_OFFICER_NAME    88012 non-null   object
 25  PROJECT_START           91565 non-null   object
 26  PROJECT_END             91699 non-null   object
 27  PROJECT_TERMS           107465 non-null  object
 28  PROJECT_TITLE           110276 non-null  object
 29  SERIAL_NUMBER           108775 non-null  float64
 30  STUDY_SECTION           104173 non-null  object
 31  STUDY_SECTION_NAME      104173 non-null  object
 32  SUBPROJECT_ID           16153 non-null   float64
 33  SUFFIX                  16297 non-null   object
 34  SUPPORT_YEAR            108775 non-null  float64
 35  DIRECT_COST_AMT         97748 non-null   float64
 36  INDIRECT_COST_AMT       90294 non-null   float64
 37  TOTAL_COST              91001 non-null   float64
 38  TOTAL_COST_SUB_PROJECT  16153 non-null   float64
 39  fromfile                110276 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(2), object(28)
memory usage: 33.7+ MB

### Convert types

In [13]:
df["PROJECT_START"] = pd.to_datetime(df["PROJECT_START"], errors='coerce')
df["PROJECT_END"] = pd.to_datetime(df["PROJECT_END"], errors='coerce')
df["BUDGET_START"] = pd.to_datetime(df["BUDGET_START"], errors='coerce')
df["BUDGET_END"] = pd.to_datetime(df["BUDGET_END"], errors='coerce')
df['PROJECT_TERMS'] = df['PROJECT_TERMS'].astype(pd.StringDtype())
df['PI_NAMEs'] = df['PI_NAMEs'].astype(pd.StringDtype())
df['ACTIVITY'] = df['ACTIVITY'].astype('category')
df['ADMINISTERING_IC'] = df['ADMINISTERING_IC'].astype('category')
df['FY'] = df['FY'].astype('category')
df['IC_NAME'] = df['IC_NAME'].astype('category')
df['ORG_STATE'] = df['ORG_STATE'].astype('category')

# Drop rows

Some rows will not be very useful for analysis if they:

- ~do not have associated start/end metrics~ Initially, we dropped these columns, under closer examination, their total costs were significant (over 6B). So, we will keep them, but will be unable to plot them in any time-series format.
- do not have associated costs
- are duplicates

In [14]:
before = len(df)
before

110276

In [15]:
# Keep only the rows with at least 2 non-NA values.
# thresh = 2
# df.dropna(subset=['AWARD_NOTICE_DATE', 'BUDGET_START', 'BUDGET_END'], thresh=thresh, how='all', inplace=True)

In [16]:
# num_dropped = before - len(df)
# dropped_pct = "{:.3%}".format(num_dropped / before)
# display(HTML(f'<h3>Dropped {num_dropped} out of {before} rows or <strong>{dropped_pct}</strong></h3>'))

In [17]:
# Keep only the rows with at least 1 non-NA values.
thresh = 1
df.dropna(subset=['DIRECT_COST_AMT', 'INDIRECT_COST_AMT', 'TOTAL_COST', 'TOTAL_COST_SUB_PROJECT'], thresh=thresh, how='all', inplace=True)

In [18]:
num_dropped = before - len(df)
dropped_pct = "{:.3%}".format(num_dropped / before)
display(HTML(f'<h3>Dropped {num_dropped} out of {before} rows or <strong>{dropped_pct}</strong></h3>'))

In [19]:
before = len(df)

In [20]:
# Drop duplicate applications
# Duplicate application ids typically have the same application type, dates and cost amounts
num_duplicates = len(df.loc[df.duplicated("APPLICATION_ID")])
print(f'Dropping {num_duplicates} awards with duplicate application id')
df.drop_duplicates(subset=['APPLICATION_ID'], keep='last', inplace=True)

Dropping 670 awards with duplicate application id

In [21]:

dropped_pct = "{:.3%}".format(num_duplicates / before)
display(HTML(f'<h3>Dropped {num_duplicates} out of {before} rows or <strong>{dropped_pct}</strong></h3>'))

# Create a new dataframe limited to awards whose Administering Institute or Center is an NIH Agency and whose organization country is US.

Since the vast majority of awards in this dataset are administered through NIH agencies to organizations whose office is located in the US, lets restrict our analysis to a subset.

In [22]:
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [23]:
nih_agencies = [{"code":"AA","name":"NIH National Institute on Alcohol Abuse and Alcoholism (NIAAA)"},{"code":"OD","name":"Office of the Director, NIH"},{"code":"AG","name":"NIH National Institute on Aging (NIA)"},{"code":"AI","name":"NIH National Institute of Allergy and Infectious Diseases (NIAID)"},{"code":"AR","name":"NIH National Institute of Arthritis and Musculoskeletal and Skin Diseases (NIAMS)"},{"code":"AT","name":"NIH National Center for Complementary and Integrative Health (NCCIH)"},{"code":"CA","name":"NIH National Cancer Institute (NCI)"},{"code":"DA","name":"NIH National Institute on Drug Abuse (NIDA)"},{"code":"DC","name":"NIH National Institute on Deafness and Other Communication Disorders (NIDCD)"},{"code":"DE","name":"NIH National Institute of Dental & Craniofacial Research (NIDCR)"},{"code":"DK","name":"NIH National Institute of Diabetes and Digestive and Kidney Diseases (NIDDK)"},{"code":"EB","name":"NIH National Institute of Biomedical Imaging and Bioengineering (NIBIB)"},{"code":"ES","name":"NIH National Institute of Environmental Health Sciences (NIEHS)"},{"code":"EY","name":"NIH National Eye Institute (NEI)"},{"code":"GM","name":"NIH National Institute of General Medical Sciences (NIGMS)"},{"code":"IHS","name":"Indian Health Service"},{"code":"HD","name":"NIH Eunice Kennedy Shriver National Institute of Child Health and Human Development (NICHD)"},{"code":"HG","name":"NIH National Human Genome Research Institute (NHGRI)"},{"code":"HL","name":"NIH National Heart, Lung and Blood Institute (NHLBI)"},{"code":"LM","name":"NIH National Library of Medicine (NLM)"},{"code":"MD","name":"NIH National Institute on Minority Health and Health Disparities (NIMHD)"},{"code":"MH","name":"NIH National Institute of Mental Health (NIMH)"},{"code":"NR","name":"NIH National Institute of Nursing Research (NINR)"},{"code":"NS","name":"NIH National Institute of Neurological Disorders and Stroke (NINDS)"},{"code":"RM","name":"NIH Roadmap"},{"code":"RR","name":"National Center for Research Resources (NCRR) (dissolved 12/2011)"},{"code":"TR","name":"NIH National Center for Advancing translational Sciences (NCATS)"},{"code":"TW","name":"NIH Fogarty International Center (FIC)"}]
codes_list = [obj['code'] for obj in nih_agencies]
is_nih = df['ADMINISTERING_IC'].isin(codes_list)
is_us = df['ORG_COUNTRY'] == 'UNITED STATES'
is_intra = df['ACTIVITY'].str.startswith('Z', na=False)

In [24]:
nih_awards_pct = "{:.1%}".format(len(df.loc[is_nih]) / len(df))
display(HTML(f'<h3>{nih_awards_pct} of awards list an NIH agency as `ADMINISTERING_IC`</h3>'))

In [25]:
us_awards_pct = "{:.1%}".format(len(df.loc[is_us | is_intra]) / len(df))
display(HTML(f'<h3>{us_awards_pct} of awards list the US as `ORG_COUNTRY` or is an intramural project (`ACTIVITY` begins with `Z`)</h3><p>The NIH defines ORG_COUNTRY as <em>The country in which the business office of the grantee organization or contractor is located.  Note that this may be different from the research performance site</em>.<p>'))

# Create a new dataframe, `df_us` which only contains awards whose:

- administering agency is an NIH agency
- grantee organization's business office is US or activity code begins with `Z` (NIH intramural project)

In [26]:
df_us = df.loc[(is_nih) & (is_us | is_intra)]

In [27]:
num_dropped_not_nih_or_us = len(df) - len(df_us)

# Clean up some badly formatted zip codes

To properly map coordinates to zipcodes, zips must be in the correct format. The NIH dataset often has

In [28]:
us_zips_non_dig = df_us['ORG_ZIPCODE'].str.contains('\D', na=False, regex=True)

In [29]:
df_us = df_us.copy()

In [30]:
df_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103565 entries, 0 to 110275
Data columns (total 40 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   APPLICATION_ID          103565 non-null  int64
 1   ACTIVITY                103565 non-null  category
 2   ADMINISTERING_IC        103565 non-null  category
 3   APPLICATION_TYPE        102265 non-null  float64
 4   AWARD_NOTICE_DATE       99310 non-null   datetime64[ns]
 5   BUDGET_START            99336 non-null   datetime64[ns]
 6   BUDGET_END              99270 non-null   datetime64[ns]
 7   CORE_PROJECT_NUM        102265 non-null  object
 8   FULL_PROJECT_NUM        103565 non-null  object
 9   FUNDING_ICs             103565 non-null  object
 10  FUNDING_MECHANISM       103565 non-null  object
 11  FY                      103565 non-null  category
 12  IC_NAME                 103565 non-null  category
 13  NIH_SPENDING_CATS       8 non-null       object
 14  ORG_CITY                100637 non-null  object
 15  ORG_COUNTRY             100637 non-null  object
 16  ORG_DEPT                65323 non-null   object
 17  ORG_DISTRICT            100588 non-null  float64
 18  ORG_NAME                103492 non-null  object
 19  ORG_STATE               100637 non-null  category
 20  ORG_ZIPCODE             100637 non-null  object
 21  PHR                     87855 non-null   object
 22  PI_IDS                  103565 non-null  object
 23  PI_NAMEs                103565 non-null  string
 24  PROGRAM_OFFICER_NAME    85553 non-null   object
 25  PROJECT_START           85342 non-null   datetime64[ns]
 26  PROJECT_END             85482 non-null   datetime64[ns]
 27  PROJECT_TERMS           102961 non-null  string
 28  PROJECT_TITLE           103565 non-null  object
 29  SERIAL_NUMBER           102265 non-null  float64
 30  STUDY_SECTION           97815 non-null   object
 31  STUDY_SECTION_NAME      97815 non-null   object
 32  SUBPROJECT_ID           15961 non-null   float64
 33  SUFFIX                  15290 non-null   object
 34  SUPPORT_YEAR            102265 non-null  float64
 35  DIRECT_COST_AMT         96466 non-null   float64
 36  INDIRECT_COST_AMT       89244 non-null   float64
 37  TOTAL_COST              87604 non-null   float64
 38  TOTAL_COST_SUB_PROJECT  15961 non-null   float64
 39  fromfile                103565 non-null  object
dtypes: category(5), datetime64[ns](5), float64(9), int64(1), object(18), string(2)
memory usage: 29.0+ MB

In [31]:
df_us.loc[df_us['APPLICATION_ID'].isin(['9125677', '8837925', '9330009', '9837979', '9543896', '9994542']), 'ORG_ZIPCODE'] = '49418'
df_us.loc[df_us['APPLICATION_ID'].isin(['9686592', '9765856', '9806287', '9724114', '10044151', '10044353', '9916136', '9980531']), 'ORG_ZIPCODE'] = '98052'
df_us.loc[df_us['APPLICATION_ID'].isin(['9677029', '9804996', '9929994', '10055828']), 'ORG_ZIPCODE'] = '20170'
df_us.loc[df_us['APPLICATION_ID'].isin(['9805650', '10030922']), 'ORG_ZIPCODE'] = '80303'
df_us.loc[df_us['APPLICATION_ID'].isin(['9810864']), 'ORG_ZIPCODE'] = '21228'

In [32]:
len(df_us.loc[(df_us['ORG_ZIPCODE'].str.contains('\D', na=False, regex=True)) & (df_us['ORG_COUNTRY'] == 'UNITED STATES')]) == 0

True

### Zip code leading zeroes should be in place

Pad zeros on zips < 5 and > 9 and just take the first 5 chars

In [33]:
is_len_less_five = df_us['ORG_ZIPCODE'].str.len() < 5
print(f'DataFrame contained {len(df_us.loc[is_len_less_five])} rows with zipcodes < 5 digits')
df_us.loc[is_len_less_five, 'ORG_ZIPCODE'] = [s.rjust(5, '0')[:5] for idx, s in df_us.loc[is_len_less_five, 'ORG_ZIPCODE'].items()]
is_len_less_five = df_us['ORG_ZIPCODE'].str.len() < 5
df_us.loc[is_len_less_five].size == 0

DataFrame contained 75 rows with zipcodes < 5 digits

True

In [34]:
is_len_gt_five = df_us['ORG_ZIPCODE'].str.len() > 5
is_len_lt_nine = df_us['ORG_ZIPCODE'].str.len() < 9
print(f'DataFrame contained {len(df_us.loc[is_len_gt_five & is_len_lt_nine])} rows with zipcodes > 5 and < 9 digits')
df_us.loc[(is_len_gt_five), 'ORG_ZIPCODE'] = [s.rjust(9, '0')[:5] for idx, s in df_us.loc[(is_len_gt_five), 'ORG_ZIPCODE'].items()]
is_len_gt_five = df_us['ORG_ZIPCODE'].str.len() > 5
df_us.loc[(is_len_gt_five)].size == 0

DataFrame contained 10199 rows with zipcodes > 5 and < 9 digits

True

## Import ZIP to GEO data

The "[US Zip Code Latitude and Longitude](https://public.opendatasoft.com/explore/dataset/us-zip-code-latitude-and-longitude/information/)" by [CivicSpace Labs]() is licensed under [Creative Commons Attribution-ShareAlike](https://creativecommons.org/licenses/by-sa/2.0/). Copyright 2004 CivicSpace Labs.

In [35]:
%%time
date_zip_imported = !date -Is
us_zip_code_latitude_and_longitude = './data/zips/us-zip-code-latitude-and-longitude.csv'
column_names=["Zip","City","State","Latitude","Longitude","Timezone","Daylight savings time flag","geopoint"]
zip_to_latlong = pd.read_csv(us_zip_code_latitude_and_longitude, sep=';', dtype={'Zip': 'str'}, header=0, names=column_names, encoding="ISO-8859-1")
date_zip_imported

CPU times: user 141 ms, sys: 56.9 ms, total: 198 ms
Wall time: 321 ms

['2020-05-29T12:24:37+00:00']

### Add some missing values to `zip_to_latlong`

We can eventually just save this to an updated file

In [36]:
zip_cols = zip_to_latlong.columns
listOfSeries = [pd.Series(['94158', None, None, 37.77244949, -122.39166260, None, None, None], index=zip_cols),
                pd.Series(['92617', None, None, 33.63830185, -117.84275055, None, None, None], index=zip_cols),
                pd.Series(['10065', None, None, 40.76429569, -73.96246150, None, None, None], index=zip_cols),
                pd.Series(['18902', None, None, 40.37361908, -75.06803894, None, None, None], index=zip_cols),
                pd.Series(['62712', None, None, 39.759095, -89.581855, None, None, None], index=zip_cols),
                pd.Series(['27268', None, None, 35.971691, -79.995012, None, None, None], index=zip_cols),
                pd.Series(['95757', None, None, 38.388294, -121.438706, None, None, None], index=zip_cols),
                pd.Series(['92011', None, None, 33.104738, -117.294838, None, None, None], index=zip_cols),
                pd.Series(['28035', None, None, 35.500264, -80.844537, None, None, None], index=zip_cols),
                pd.Series(['48193', None, None, 42.176885, -83.176072, None, None, None], index=zip_cols),
                pd.Series(['60491', None, None, 41.608073, -87.964632, None, None, None], index=zip_cols),
                pd.Series(['85142', None, None, 33.197122, -111.638108, None, None, None], index=zip_cols),
                pd.Series(['85209', None, None, 33.396080, -111.650097, None, None, None], index=zip_cols),
                pd.Series(['85755', None, None, 32.463827, -110.982601, None, None, None], index=zip_cols),
                pd.Series(['60642', None, None, 41.899644, -87.657551, None, None, None], index=zip_cols),
                pd.Series(['80113', None, None, 39.652369, -104.976232, None, None, None], index=zip_cols),
                pd.Series(['62711', None, None, 39.792576, -89.662249, None, None, None], index=zip_cols),
                pd.Series(['92010', None, None, 33.160609, -117.293587, None, None, None], index=zip_cols),
                pd.Series(['84096', None, None, 40.473425, -112.069600, None, None, None], index=zip_cols),
                pd.Series(['96913', None, None, 13.4686, 144.7989, None, None, None], index=zip_cols)]

In [37]:
zip_df = zip_to_latlong.append(listOfSeries, ignore_index=True)

In [38]:
df_us = df_us.join(zip_df.loc[:, ['Zip', 'Latitude', 'Longitude']].set_index('Zip'), on='ORG_ZIPCODE')

### Assert that the only awards that do not have a lat/long coordinates are intramural projects

In [39]:
no_zip_or_lat = df_us.loc[(pd.isna(df_us['Latitude'])) & (pd.isna(df_us['ORG_ZIPCODE']))]
intra_project = df_us.loc[df_us['ACTIVITY'].str.startswith('Z')]
len(no_zip_or_lat) < len(intra_project) + 2 # add two because we will allow a small number of awards with no coords

True

### Fix some mispellings of cities

In [40]:
df_us.loc[df_us['ORG_CITY'] == 'san  francisco', 'ORG_CITY'] = 'san francisco'
df_us.loc[df_us['ORG_CITY'] == 'winston salem', 'ORG_CITY'] = 'winston-salem'
df_us.loc[df_us['ORG_CITY'] == 'st. louis', 'ORG_CITY'] = 'saint louis'
df_us.loc[df_us['ORG_CITY'] == 'st. paul', 'ORG_CITY'] = 'saint paul'
df_us.loc[df_us['ORG_CITY'] == 'res triangle', 'ORG_CITY'] = 'research triangle park'

In [41]:
df_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103565 entries, 0 to 110275
Data columns (total 42 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   APPLICATION_ID          103565 non-null  int64
 1   ACTIVITY                103565 non-null  category
 2   ADMINISTERING_IC        103565 non-null  category
 3   APPLICATION_TYPE        102265 non-null  float64
 4   AWARD_NOTICE_DATE       99310 non-null   datetime64[ns]
 5   BUDGET_START            99336 non-null   datetime64[ns]
 6   BUDGET_END              99270 non-null   datetime64[ns]
 7   CORE_PROJECT_NUM        102265 non-null  object
 8   FULL_PROJECT_NUM        103565 non-null  object
 9   FUNDING_ICs             103565 non-null  object
 10  FUNDING_MECHANISM       103565 non-null  object
 11  FY                      103565 non-null  category
 12  IC_NAME                 103565 non-null  category
 13  NIH_SPENDING_CATS       8 non-null       object
 14  ORG_CITY                100637 non-null  object
 15  ORG_COUNTRY             100637 non-null  object
 16  ORG_DEPT                65323 non-null   object
 17  ORG_DISTRICT            100588 non-null  float64
 18  ORG_NAME                103492 non-null  object
 19  ORG_STATE               100637 non-null  category
 20  ORG_ZIPCODE             100637 non-null  object
 21  PHR                     87855 non-null   object
 22  PI_IDS                  103565 non-null  object
 23  PI_NAMEs                103565 non-null  string
 24  PROGRAM_OFFICER_NAME    85553 non-null   object
 25  PROJECT_START           85342 non-null   datetime64[ns]
 26  PROJECT_END             85482 non-null   datetime64[ns]
 27  PROJECT_TERMS           102961 non-null  string
 28  PROJECT_TITLE           103565 non-null  object
 29  SERIAL_NUMBER           102265 non-null  float64
 30  STUDY_SECTION           97815 non-null   object
 31  STUDY_SECTION_NAME      97815 non-null   object
 32  SUBPROJECT_ID           15961 non-null   float64
 33  SUFFIX                  15290 non-null   object
 34  SUPPORT_YEAR            102265 non-null  float64
 35  DIRECT_COST_AMT         96466 non-null   float64
 36  INDIRECT_COST_AMT       89244 non-null   float64
 37  TOTAL_COST              87604 non-null   float64
 38  TOTAL_COST_SUB_PROJECT  15961 non-null   float64
 39  fromfile                103565 non-null  object
 40  Latitude                100637 non-null  float64
 41  Longitude               100637 non-null  float64
dtypes: category(5), datetime64[ns](5), float64(11), int64(1), object(18), string(2)
memory usage: 30.6+ MB

# Export Data

In [50]:
is_sample = False

In [51]:
%%time
date_exported = !date -Is
OUT = f'./out/csv/post_processed_{date_exported[0]}.csv.gzip'
if is_sample:
    _sample = df_us.sample(n=20000, random_state=3)
    _sample.to_csv(OUT, index=False, compression='gzip')
else:
    df_us.to_csv(OUT, index=False, compression='gzip')

CPU times: user 6.08 s, sys: 33.1 ms, total: 6.12 s
Wall time: 6.48 s

In [52]:
with open("./CHANGELOG.md", "r+") as f:
    logs = f.read()
    f.seek(0)
    f.write(f'''\n
# Preprocessing: {date_exported[0]}\n
Imported {len(files)} files on {date_imported[0]} resulting in {original_df_len} rows.
Dropped {num_dropped} rows for having no relevant cost information.
Dropped {num_duplicates} duplicate application ids.
Dropped {num_dropped_not_nih_or_us} rows because they were either not NIH, not us or intramural.
Output file: {OUT} contains {len(df_us)} rows.''')
    f.write(logs)

In [ ]:
!cat CHANGELOG.md

### Create a dtype dictionary for read_csv

Issue: Pandas gives warning: `DtypeWarning: Columns (13) have mixed types.Specify dtype option on import`. Pandas is trying to infer too many dtypes and running out of memory. 

[Solution on stackoverflow]() is to create a dataframe from the `dtypes` property and then change the type with `astype` to str (e.g., `dtype('int64') -> 'int64'`)

In [54]:
all_cols = set(df_us.columns)

In [55]:
dates = set(["AWARD_NOTICE_DATE","BUDGET_START","BUDGET_END", "PROJECT_START", "PROJECT_END"])

In [56]:
cols = list(all_cols - dates)

In [57]:
df_us.loc[:, cols].dtypes.apply(lambda x: x.name).to_dict()

{'INDIRECT_COST_AMT': 'float64',
 'SUPPORT_YEAR': 'float64',
 'FULL_PROJECT_NUM': 'object',
 'ORG_ZIPCODE': 'object',
 'FY': 'category',
 'PHR': 'object',
 'DIRECT_COST_AMT': 'float64',
 'Longitude': 'float64',
 'APPLICATION_ID': 'int64',
 'fromfile': 'object',
 'ORG_NAME': 'object',
 'TOTAL_COST': 'float64',
 'ORG_CITY': 'object',
 'SERIAL_NUMBER': 'float64',
 'ADMINISTERING_IC': 'category',
 'ORG_STATE': 'category',
 'APPLICATION_TYPE': 'float64',
 'PROJECT_TERMS': 'string',
 'SUFFIX': 'object',
 'NIH_SPENDING_CATS': 'object',
 'PROJECT_TITLE': 'object',
 'IC_NAME': 'category',
 'ORG_COUNTRY': 'object',
 'PI_IDS': 'object',
 'FUNDING_ICs': 'object',
 'PI_NAMEs': 'string',
 'CORE_PROJECT_NUM': 'object',
 'PROGRAM_OFFICER_NAME': 'object',
 'ORG_DISTRICT': 'float64',
 'SUBPROJECT_ID': 'float64',
 'FUNDING_MECHANISM': 'object',
 'TOTAL_COST_SUB_PROJECT': 'float64',
 'ORG_DEPT': 'object',
 'STUDY_SECTION_NAME': 'object',
 'ACTIVITY': 'category',
 'STUDY_SECTION': 'object',
 'Latitude': 'float64'}