In [49]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

from sklearn.preprocessing import MinMaxScaler, RobustScaler, Normalizer, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

import os
import conda

import locale
from datetime import datetime
from IPython.display import HTML
locale.setlocale(locale.LC_ALL, 'en_US.UTF8')

'en_US.UTF8'

In [50]:
pd.set_option('mode.chained_assignment','raise')
pd.options.display.max_rows = 4000
pd.options.display.max_columns = 4000

# About NIH awards data

NIH data was imported from [FY 2019 RePORTER Project Data](https://exporter.nih.gov/CSVs/final/RePORTER_PRJ_C_FY2019.zip) and the report listing page [exporter.nih.gov](https://exporter.nih.gov/ExPORTER_Catalog.aspx?sid=5&index=0). An [explanation of the fields](https://exporter.nih.gov/about.aspx) is helpful for analysis.

# Project structure

```bash session
├── NIH-awards.ipynb       # this jupyter notebook
├── data
│   ├── nih                # holds all exporter csv files
│   └── zips               # us-zip-code-latitude-and-longitude.csv
├── out
│   ├── csv                # any csv output
│   ├── json               # any json output
│   └── models             # any saved models
└── utils
    ├── get_csvs           # script to download all the exporter csv files (requires curl)
    └── reporter_files.txt # list of exporter files to get
```

# Import the data

In [51]:
# Run the get_csvs utility to download files into the `data` from exporter.nih.gov
# The file ./utils/reporter_files.txt contains a list of all files to get

# date_downloaded = !date -Is
# ! ./utils/get_csvs
# date_downloaded

In [71]:
files = !find ./data/exporter/ -name "*RePORTER_PRJ*" -exec echo "{}" \;
files = list(set(files) - set(['./data/exporter/RePORTER_PRJ_C_FY2018.csv', './data/exporter/RePORTER_PRJ_C_FY2017.csv', './data/exporter/RePORTER_PRJ_C_FY2016.csv']))
files.sort()
len(files)

38

In [73]:
all_cols = !head -n 1 './data/exporter/RePORTER_PRJ_C_FY2019.csv'
all_cols = all_cols.s.split(',')

In [74]:
# ignore these columns
ignore = ['ARRA_FUNDED', 'FOA_NUMBER', 'ED_INST_TYPE', 'ORG_FIPS', 'ORG_DUNS', 'ORG_IPF_CODE', 'CFDA_CODE']

In [75]:
cols = list(set(all_cols) - set(ignore))

In [76]:
def create_dataframe(name):
    '''
    Return a DataFrame with an added column `fromfile` to denote
    which file the data came from
    '''
    head, tail = os.path.split(name)
    _df = pd.read_csv(name, dtype={ 'ORG_ZIPCODE': 'str' }, usecols=cols, parse_dates=["AWARD_NOTICE_DATE","BUDGET_START","BUDGET_END"], encoding="ISO-8859-1")
    _df['fromfile'] = tail
    return _df

In [77]:
%%time
date_imported = !date -Is
v = [create_dataframe(name) for name in files]
date_imported

CPU times: user 6 s, sys: 647 ms, total: 6.65 s
Wall time: 8.66 s

['2020-06-22T21:19:37+00:00']

### Concat all DataFrames

In [78]:
%%time
df = pd.concat(v,ignore_index=True)

CPU times: user 1.26 s, sys: 88.5 ms, total: 1.35 s
Wall time: 1.32 s

In [79]:
original_df_len = len(df)
original_df_len

117317

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117317 entries, 0 to 117316
Data columns (total 40 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   APPLICATION_ID          117317 non-null  int64
 1   ACTIVITY                117317 non-null  object
 2   ADMINISTERING_IC        117317 non-null  object
 3   APPLICATION_TYPE        115816 non-null  float64
 4   AWARD_NOTICE_DATE       112684 non-null  datetime64[ns]
 5   BUDGET_START            112751 non-null  object
 6   BUDGET_END              112668 non-null  object
 7   CORE_PROJECT_NUM        115984 non-null  object
 8   FULL_PROJECT_NUM        117317 non-null  object
 9   FUNDING_ICs             113817 non-null  object
 10  FUNDING_MECHANISM       117309 non-null  object
 11  FY                      117317 non-null  int64
 12  IC_NAME                 117317 non-null  object
 13  NIH_SPENDING_CATS       12 non-null      object
 14  ORG_CITY                114053 non-null  object
 15  ORG_COUNTRY             114053 non-null  object
 16  ORG_DEPT                71098 non-null   object
 17  ORG_DISTRICT            112935 non-null  float64
 18  ORG_NAME                117225 non-null  object
 19  ORG_STATE               113198 non-null  object
 20  ORG_ZIPCODE             114039 non-null  object
 21  PHR                     100009 non-null  object
 22  PI_IDS                  117317 non-null  object
 23  PI_NAMEs                117317 non-null  object
 24  PROGRAM_OFFICER_NAME    93762 non-null   object
 25  PROJECT_START           97649 non-null   object
 26  PROJECT_END             97778 non-null   object
 27  PROJECT_TERMS           114287 non-null  object
 28  PROJECT_TITLE           117317 non-null  object
 29  SERIAL_NUMBER           115816 non-null  float64
 30  STUDY_SECTION           111059 non-null  object
 31  STUDY_SECTION_NAME      111059 non-null  object
 32  SUBPROJECT_ID           17164 non-null   float64
 33  SUFFIX                  17103 non-null   object
 34  SUPPORT_YEAR            115816 non-null  float64
 35  DIRECT_COST_AMT         104182 non-null  float64
 36  INDIRECT_COST_AMT       96467 non-null   float64
 37  TOTAL_COST              96664 non-null   float64
 38  TOTAL_COST_SUB_PROJECT  17164 non-null   float64
 39  fromfile                117317 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(2), object(28)
memory usage: 35.8+ MB

### Convert types

In [81]:
df["PROJECT_START"] = pd.to_datetime(df["PROJECT_START"], errors='coerce')
df["PROJECT_END"] = pd.to_datetime(df["PROJECT_END"], errors='coerce')
df["BUDGET_START"] = pd.to_datetime(df["BUDGET_START"], errors='coerce')
df["BUDGET_END"] = pd.to_datetime(df["BUDGET_END"], errors='coerce')
df['PROJECT_TERMS'] = df['PROJECT_TERMS'].astype(pd.StringDtype())
df['PI_NAMEs'] = df['PI_NAMEs'].astype(pd.StringDtype())
df['ACTIVITY'] = df['ACTIVITY'].astype('category')
df['ADMINISTERING_IC'] = df['ADMINISTERING_IC'].astype('category')
df['FY'] = df['FY'].astype('category')
df['IC_NAME'] = df['IC_NAME'].astype('category')
df['ORG_STATE'] = df['ORG_STATE'].astype('category')

# Drop rows

Some rows will not be very useful for analysis if they:

- ~do not have associated start/end metrics~ Initially, we dropped these columns, under closer examination, their total costs were significant (over 6B). So, we will keep them, but will be unable to plot them in any time-series format.
- do not have associated costs
- are duplicates

In [82]:
before = len(df)
before

117317

In [83]:
# Keep only the rows with at least 2 non-NA values.
# thresh = 2
# df.dropna(subset=['AWARD_NOTICE_DATE', 'BUDGET_START', 'BUDGET_END'], thresh=thresh, how='all', inplace=True)

In [84]:
# num_dropped = before - len(df)
# dropped_pct = "{:.3%}".format(num_dropped / before)
# display(HTML(f'<h3>Dropped {num_dropped} out of {before} rows or <strong>{dropped_pct}</strong></h3>'))

In [85]:
# Keep only the rows with at least 1 non-NA values.
thresh = 1
df.dropna(subset=['DIRECT_COST_AMT', 'INDIRECT_COST_AMT', 'TOTAL_COST', 'TOTAL_COST_SUB_PROJECT'], thresh=thresh, how='all', inplace=True)

In [86]:
num_dropped = before - len(df)
dropped_pct = "{:.3%}".format(num_dropped / before)
display(HTML(f'<h3>Dropped {num_dropped} out of {before} rows or <strong>{dropped_pct}</strong></h3>'))

In [87]:
before = len(df)

In [88]:
# Drop duplicate applications
# Duplicate application ids typically have the same application type, dates and cost amounts
num_duplicates = len(df.loc[df.duplicated("APPLICATION_ID")])
print(f'Dropping {num_duplicates} awards with duplicate application id')
df.drop_duplicates(subset=['APPLICATION_ID'], keep='last', inplace=True)

Dropping 684 awards with duplicate application id

In [89]:
dropped_pct = "{:.3%}".format(num_duplicates / before)
display(HTML(f'<h3>Dropped {num_duplicates} out of {before} rows or <strong>{dropped_pct}</strong></h3>'))

# Create a new dataframe limited to awards whose Administering Institute or Center is an NIH Agency and whose organization country is US.

Since the vast majority of awards in this dataset are administered through NIH agencies to organizations whose office is located in the US, lets restrict our analysis to a subset.

In [90]:
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [91]:
nih_agencies = [{"code":"AA","name":"NIH National Institute on Alcohol Abuse and Alcoholism (NIAAA)"},{"code":"OD","name":"Office of the Director, NIH"},{"code":"AG","name":"NIH National Institute on Aging (NIA)"},{"code":"AI","name":"NIH National Institute of Allergy and Infectious Diseases (NIAID)"},{"code":"AR","name":"NIH National Institute of Arthritis and Musculoskeletal and Skin Diseases (NIAMS)"},{"code":"AT","name":"NIH National Center for Complementary and Integrative Health (NCCIH)"},{"code":"CA","name":"NIH National Cancer Institute (NCI)"},{"code":"DA","name":"NIH National Institute on Drug Abuse (NIDA)"},{"code":"DC","name":"NIH National Institute on Deafness and Other Communication Disorders (NIDCD)"},{"code":"DE","name":"NIH National Institute of Dental & Craniofacial Research (NIDCR)"},{"code":"DK","name":"NIH National Institute of Diabetes and Digestive and Kidney Diseases (NIDDK)"},{"code":"EB","name":"NIH National Institute of Biomedical Imaging and Bioengineering (NIBIB)"},{"code":"ES","name":"NIH National Institute of Environmental Health Sciences (NIEHS)"},{"code":"EY","name":"NIH National Eye Institute (NEI)"},{"code":"GM","name":"NIH National Institute of General Medical Sciences (NIGMS)"},{"code":"IHS","name":"Indian Health Service"},{"code":"HD","name":"NIH Eunice Kennedy Shriver National Institute of Child Health and Human Development (NICHD)"},{"code":"HG","name":"NIH National Human Genome Research Institute (NHGRI)"},{"code":"HL","name":"NIH National Heart, Lung and Blood Institute (NHLBI)"},{"code":"LM","name":"NIH National Library of Medicine (NLM)"},{"code":"MD","name":"NIH National Institute on Minority Health and Health Disparities (NIMHD)"},{"code":"MH","name":"NIH National Institute of Mental Health (NIMH)"},{"code":"NR","name":"NIH National Institute of Nursing Research (NINR)"},{"code":"NS","name":"NIH National Institute of Neurological Disorders and Stroke (NINDS)"},{"code":"RM","name":"NIH Roadmap"},{"code":"RR","name":"National Center for Research Resources (NCRR) (dissolved 12/2011)"},{"code":"TR","name":"NIH National Center for Advancing translational Sciences (NCATS)"},{"code":"TW","name":"NIH Fogarty International Center (FIC)"}]
codes_list = [obj['code'] for obj in nih_agencies]
is_nih = df['ADMINISTERING_IC'].isin(codes_list)
is_us = df['ORG_COUNTRY'] == 'UNITED STATES'
is_intra = df['ACTIVITY'].str.startswith('Z', na=False)

In [92]:
nih_awards_pct = "{:.1%}".format(len(df.loc[is_nih]) / len(df))
display(HTML(f'<h3>{nih_awards_pct} of awards list an NIH agency as `ADMINISTERING_IC`</h3>'))

In [93]:
us_awards_pct = "{:.1%}".format(len(df.loc[is_us | is_intra]) / len(df))
display(HTML(f'<h3>{us_awards_pct} of awards list the US as `ORG_COUNTRY` or is an intramural project (`ACTIVITY` begins with `Z`)</h3><p>The NIH defines ORG_COUNTRY as <em>The country in which the business office of the grantee organization or contractor is located.  Note that this may be different from the research performance site</em>.<p>'))

# Create a new dataframe, `df_us` which only contains awards whose:

- administering agency is an NIH agency
- grantee organization's business office is US or activity code begins with `Z` (NIH intramural project)

In [94]:
df_us = df.loc[(is_nih) & (is_us | is_intra)]

In [95]:
num_dropped_not_nih_or_us = len(df) - len(df_us)

# Clean up some badly formatted zip codes

To properly map coordinates to zipcodes, zips must be in the correct format. The NIH dataset often has

In [96]:
us_zips_non_dig = df_us['ORG_ZIPCODE'].str.contains('\D', na=False, regex=True)

In [97]:
df_us = df_us.copy()

In [98]:
df_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110057 entries, 0 to 117316
Data columns (total 40 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   APPLICATION_ID          110057 non-null  int64
 1   ACTIVITY                110057 non-null  category
 2   ADMINISTERING_IC        110057 non-null  category
 3   APPLICATION_TYPE        108757 non-null  float64
 4   AWARD_NOTICE_DATE       105802 non-null  datetime64[ns]
 5   BUDGET_START            105828 non-null  datetime64[ns]
 6   BUDGET_END              105759 non-null  datetime64[ns]
 7   CORE_PROJECT_NUM        108757 non-null  object
 8   FULL_PROJECT_NUM        110057 non-null  object
 9   FUNDING_ICs             110057 non-null  object
 10  FUNDING_MECHANISM       110057 non-null  object
 11  FY                      110057 non-null  category
 12  IC_NAME                 110057 non-null  category
 13  NIH_SPENDING_CATS       12 non-null      object
 14  ORG_CITY                107129 non-null  object
 15  ORG_COUNTRY             107129 non-null  object
 16  ORG_DEPT                69718 non-null   object
 17  ORG_DISTRICT            107080 non-null  float64
 18  ORG_NAME                109984 non-null  object
 19  ORG_STATE               107129 non-null  category
 20  ORG_ZIPCODE             107129 non-null  object
 21  PHR                     93483 non-null   object
 22  PI_IDS                  110057 non-null  object
 23  PI_NAMEs                110057 non-null  string
 24  PROGRAM_OFFICER_NAME    91176 non-null   object
 25  PROJECT_START           90884 non-null   datetime64[ns]
 26  PROJECT_END             91022 non-null   datetime64[ns]
 27  PROJECT_TERMS           109364 non-null  string
 28  PROJECT_TITLE           110057 non-null  object
 29  SERIAL_NUMBER           108757 non-null  float64
 30  STUDY_SECTION           104152 non-null  object
 31  STUDY_SECTION_NAME      104152 non-null  object
 32  SUBPROJECT_ID           16965 non-null   float64
 33  SUFFIX                  16004 non-null   object
 34  SUPPORT_YEAR            108757 non-null  float64
 35  DIRECT_COST_AMT         102843 non-null  float64
 36  INDIRECT_COST_AMT       95364 non-null   float64
 37  TOTAL_COST              93092 non-null   float64
 38  TOTAL_COST_SUB_PROJECT  16965 non-null   float64
 39  fromfile                110057 non-null  object
dtypes: category(5), datetime64[ns](5), float64(9), int64(1), object(18), string(2)
memory usage: 30.9+ MB

In [99]:
df_us.loc[df_us['APPLICATION_ID'].isin(['9125677', '8837925', '9330009', '9837979', '9543896', '9994542']), 'ORG_ZIPCODE'] = '49418'
df_us.loc[df_us['APPLICATION_ID'].isin(['9686592', '9765856', '9806287', '9724114', '10044151', '10044353', '9916136', '9980531']), 'ORG_ZIPCODE'] = '98052'
df_us.loc[df_us['APPLICATION_ID'].isin(['9677029', '9804996', '9929994', '10055828']), 'ORG_ZIPCODE'] = '20170'
df_us.loc[df_us['APPLICATION_ID'].isin(['9805650', '10030922']), 'ORG_ZIPCODE'] = '80303'
df_us.loc[df_us['APPLICATION_ID'].isin(['9810864']), 'ORG_ZIPCODE'] = '21228'

In [100]:
len(df_us.loc[(df_us['ORG_ZIPCODE'].str.contains('\D', na=False, regex=True)) & (df_us['ORG_COUNTRY'] == 'UNITED STATES')]) == 0

True

### Zip code leading zeroes should be in place

Pad zeros on zips < 5 and > 9 and just take the first 5 chars

In [101]:
is_len_less_five = df_us['ORG_ZIPCODE'].str.len() < 5
print(f'DataFrame contained {len(df_us.loc[is_len_less_five])} rows with zipcodes < 5 digits')
df_us.loc[is_len_less_five, 'ORG_ZIPCODE'] = [s.rjust(5, '0')[:5] for idx, s in df_us.loc[is_len_less_five, 'ORG_ZIPCODE'].items()]
is_len_less_five = df_us['ORG_ZIPCODE'].str.len() < 5
df_us.loc[is_len_less_five].size == 0

DataFrame contained 75 rows with zipcodes < 5 digits

True

In [102]:
is_len_gt_five = df_us['ORG_ZIPCODE'].str.len() > 5
is_len_lt_nine = df_us['ORG_ZIPCODE'].str.len() < 9
print(f'DataFrame contained {len(df_us.loc[is_len_gt_five & is_len_lt_nine])} rows with zipcodes > 5 and < 9 digits')
df_us.loc[(is_len_gt_five), 'ORG_ZIPCODE'] = [s.rjust(9, '0')[:5] for idx, s in df_us.loc[(is_len_gt_five), 'ORG_ZIPCODE'].items()]
is_len_gt_five = df_us['ORG_ZIPCODE'].str.len() > 5
df_us.loc[(is_len_gt_five)].size == 0

DataFrame contained 10199 rows with zipcodes > 5 and < 9 digits

True

## Import ZIP to GEO data

The "[US Zip Code Latitude and Longitude](https://public.opendatasoft.com/explore/dataset/us-zip-code-latitude-and-longitude/information/)" by [CivicSpace Labs]() is licensed under [Creative Commons Attribution-ShareAlike](https://creativecommons.org/licenses/by-sa/2.0/). Copyright 2004 CivicSpace Labs.

In [103]:
%%time
date_zip_imported = !date -Is
us_zip_code_latitude_and_longitude = './data/zips/us-zip-code-latitude-and-longitude.csv'
column_names=["Zip","City","State","Latitude","Longitude","Timezone","Daylight savings time flag","geopoint"]
zip_to_latlong = pd.read_csv(us_zip_code_latitude_and_longitude, sep=';', dtype={'Zip': 'str'}, header=0, names=column_names, encoding="ISO-8859-1")
date_zip_imported

CPU times: user 135 ms, sys: 40.5 ms, total: 176 ms
Wall time: 250 ms

['2020-06-22T21:20:26+00:00']

### Add some missing values to `zip_to_latlong`

We can eventually just save this to an updated file

In [104]:
zip_cols = zip_to_latlong.columns
listOfSeries = [pd.Series(['94158', None, None, 37.77244949, -122.39166260, None, None, None], index=zip_cols),
                pd.Series(['92617', None, None, 33.63830185, -117.84275055, None, None, None], index=zip_cols),
                pd.Series(['10065', None, None, 40.76429569, -73.96246150, None, None, None], index=zip_cols),
                pd.Series(['18902', None, None, 40.37361908, -75.06803894, None, None, None], index=zip_cols),
                pd.Series(['62712', None, None, 39.759095, -89.581855, None, None, None], index=zip_cols),
                pd.Series(['27268', None, None, 35.971691, -79.995012, None, None, None], index=zip_cols),
                pd.Series(['95757', None, None, 38.388294, -121.438706, None, None, None], index=zip_cols),
                pd.Series(['92011', None, None, 33.104738, -117.294838, None, None, None], index=zip_cols),
                pd.Series(['28035', None, None, 35.500264, -80.844537, None, None, None], index=zip_cols),
                pd.Series(['48193', None, None, 42.176885, -83.176072, None, None, None], index=zip_cols),
                pd.Series(['60491', None, None, 41.608073, -87.964632, None, None, None], index=zip_cols),
                pd.Series(['85142', None, None, 33.197122, -111.638108, None, None, None], index=zip_cols),
                pd.Series(['85209', None, None, 33.396080, -111.650097, None, None, None], index=zip_cols),
                pd.Series(['85755', None, None, 32.463827, -110.982601, None, None, None], index=zip_cols),
                pd.Series(['60642', None, None, 41.899644, -87.657551, None, None, None], index=zip_cols),
                pd.Series(['80113', None, None, 39.652369, -104.976232, None, None, None], index=zip_cols),
                pd.Series(['62711', None, None, 39.792576, -89.662249, None, None, None], index=zip_cols),
                pd.Series(['92010', None, None, 33.160609, -117.293587, None, None, None], index=zip_cols),
                pd.Series(['84096', None, None, 40.473425, -112.069600, None, None, None], index=zip_cols),
                pd.Series(['96913', None, None, 13.4686, 144.7989, None, None, None], index=zip_cols)]

In [105]:
zip_df = zip_to_latlong.append(listOfSeries, ignore_index=True)

In [106]:
df_us = df_us.join(zip_df.loc[:, ['Zip', 'Latitude', 'Longitude']].set_index('Zip'), on='ORG_ZIPCODE')

### Assert that the only awards that do not have a lat/long coordinates are intramural projects

In [107]:
no_zip_or_lat = df_us.loc[(pd.isna(df_us['Latitude'])) & (pd.isna(df_us['ORG_ZIPCODE']))]
intra_project = df_us.loc[df_us['ACTIVITY'].str.startswith('Z')]
len(no_zip_or_lat) < len(intra_project) + 2 # add two because we will allow a small number of awards with no coords

True

### Fix some mispellings of cities

In [108]:
df_us.loc[df_us['ORG_CITY'] == 'san  francisco', 'ORG_CITY'] = 'san francisco'
df_us.loc[df_us['ORG_CITY'] == 'winston salem', 'ORG_CITY'] = 'winston-salem'
df_us.loc[df_us['ORG_CITY'] == 'st. louis', 'ORG_CITY'] = 'saint louis'
df_us.loc[df_us['ORG_CITY'] == 'st. paul', 'ORG_CITY'] = 'saint paul'
df_us.loc[df_us['ORG_CITY'] == 'res triangle', 'ORG_CITY'] = 'research triangle park'

In [109]:
df_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110057 entries, 0 to 117316
Data columns (total 42 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   APPLICATION_ID          110057 non-null  int64
 1   ACTIVITY                110057 non-null  category
 2   ADMINISTERING_IC        110057 non-null  category
 3   APPLICATION_TYPE        108757 non-null  float64
 4   AWARD_NOTICE_DATE       105802 non-null  datetime64[ns]
 5   BUDGET_START            105828 non-null  datetime64[ns]
 6   BUDGET_END              105759 non-null  datetime64[ns]
 7   CORE_PROJECT_NUM        108757 non-null  object
 8   FULL_PROJECT_NUM        110057 non-null  object
 9   FUNDING_ICs             110057 non-null  object
 10  FUNDING_MECHANISM       110057 non-null  object
 11  FY                      110057 non-null  category
 12  IC_NAME                 110057 non-null  category
 13  NIH_SPENDING_CATS       12 non-null      object
 14  ORG_CITY                107129 non-null  object
 15  ORG_COUNTRY             107129 non-null  object
 16  ORG_DEPT                69718 non-null   object
 17  ORG_DISTRICT            107080 non-null  float64
 18  ORG_NAME                109984 non-null  object
 19  ORG_STATE               107129 non-null  category
 20  ORG_ZIPCODE             107129 non-null  object
 21  PHR                     93483 non-null   object
 22  PI_IDS                  110057 non-null  object
 23  PI_NAMEs                110057 non-null  string
 24  PROGRAM_OFFICER_NAME    91176 non-null   object
 25  PROJECT_START           90884 non-null   datetime64[ns]
 26  PROJECT_END             91022 non-null   datetime64[ns]
 27  PROJECT_TERMS           109364 non-null  string
 28  PROJECT_TITLE           110057 non-null  object
 29  SERIAL_NUMBER           108757 non-null  float64
 30  STUDY_SECTION           104152 non-null  object
 31  STUDY_SECTION_NAME      104152 non-null  object
 32  SUBPROJECT_ID           16965 non-null   float64
 33  SUFFIX                  16004 non-null   object
 34  SUPPORT_YEAR            108757 non-null  float64
 35  DIRECT_COST_AMT         102843 non-null  float64
 36  INDIRECT_COST_AMT       95364 non-null   float64
 37  TOTAL_COST              93092 non-null   float64
 38  TOTAL_COST_SUB_PROJECT  16965 non-null   float64
 39  fromfile                110057 non-null  object
 40  Latitude                107129 non-null  float64
 41  Longitude               107129 non-null  float64
dtypes: category(5), datetime64[ns](5), float64(11), int64(1), object(18), string(2)
memory usage: 32.5+ MB

# Export Data

In [110]:
is_sample = False

In [111]:
%%time
date_exported = !date -Is
OUT = f'./out/csv/post_processed_{date_exported[0]}.csv.gzip'
if is_sample:
    _sample = df_us.sample(n=20000, random_state=3)
    _sample.to_csv(OUT, index=False, compression='gzip')
else:
    df_us.to_csv(OUT, index=False, compression='gzip')

CPU times: user 36.5 s, sys: 382 ms, total: 36.9 s
Wall time: 39.2 s

In [112]:
with open("./CHANGELOG.md", "r+") as f:
    logs = f.read()
    f.seek(0)
    f.write(f'''\n
# Preprocessing: {date_exported[0]}\n
Imported {len(files)} files on {date_imported[0]} resulting in {original_df_len} rows.\n
Dropped {num_dropped} rows for having no relevant cost information.\n
Dropped {num_duplicates} duplicate application ids.\n
Dropped {num_dropped_not_nih_or_us} rows because they were either not NIH, not us or intramural.\n
Output file: {OUT} contains {len(df_us)} rows.\n''')
    f.write(logs)

In [113]:
!cat CHANGELOG.md

# Preprocessing: 2020-06-22T21:20:32+00:00

Imported 38 files on 2020-06-22T21:19:37+00:00 resulting in 117317 rows.

Dropped 3489 rows for having no relevant cost information.

Dropped 684 duplicate application ids.

Dropped 3087 rows because they were either not NIH, not us or intramural.

Output file: ./out/csv/post_processed_2020-06-22T21:20:32+00:00.csv.gzip contains 110057 rows.
# Sample: 2020-05-29T12:36:20+00:00

Created sample file

Sample file: ./out/csv/post_processed_2020-05-29T12:36:20+00:00.csv.gzip contains 20000 rows.

# Preprocessing: 2020-05-28T17:06:19+00:00

Imported 35 files on 2020-05-28T17:04:15+00:00 resulting in 110276 rows.

Dropped 3122 rows for having no relevant cost information.

Dropped 670 duplicate application ids.

Dropped 2919 rows because they were either not NIH, not us or intramural.

Output file: ./out/csv/post_processed_2020-05-28T17:06:19+00:00.csv.gzip contains 103565 rows.

### Create a dtype dictionary for read_csv

Issue: Pandas gives warning: `DtypeWarning: Columns (13) have mixed types.Specify dtype option on import`. Pandas is trying to infer too many dtypes and running out of memory. 

[Solution on stackoverflow]() is to create a dataframe from the `dtypes` property and then change the type with `astype` to str (e.g., `dtype('int64') -> 'int64'`)

In [114]:
all_cols = set(df_us.columns)

In [115]:
dates = set(["AWARD_NOTICE_DATE","BUDGET_START","BUDGET_END", "PROJECT_START", "PROJECT_END"])

In [116]:
cols = list(all_cols - dates)

In [117]:
df_us.loc[:, cols].dtypes.apply(lambda x: x.name).to_dict()

{'IC_NAME': 'category',
 'PI_NAMEs': 'string',
 'FUNDING_MECHANISM': 'object',
 'SUPPORT_YEAR': 'float64',
 'SERIAL_NUMBER': 'float64',
 'CORE_PROJECT_NUM': 'object',
 'ADMINISTERING_IC': 'category',
 'FULL_PROJECT_NUM': 'object',
 'TOTAL_COST_SUB_PROJECT': 'float64',
 'PROGRAM_OFFICER_NAME': 'object',
 'APPLICATION_ID': 'int64',
 'SUBPROJECT_ID': 'float64',
 'PI_IDS': 'object',
 'ACTIVITY': 'category',
 'PROJECT_TITLE': 'object',
 'ORG_STATE': 'category',
 'DIRECT_COST_AMT': 'float64',
 'STUDY_SECTION': 'object',
 'SUFFIX': 'object',
 'STUDY_SECTION_NAME': 'object',
 'Longitude': 'float64',
 'FY': 'category',
 'PHR': 'object',
 'TOTAL_COST': 'float64',
 'ORG_COUNTRY': 'object',
 'NIH_SPENDING_CATS': 'object',
 'ORG_ZIPCODE': 'object',
 'ORG_NAME': 'object',
 'INDIRECT_COST_AMT': 'float64',
 'Latitude': 'float64',
 'ORG_DISTRICT': 'float64',
 'FUNDING_ICs': 'object',
 'fromfile': 'object',
 'APPLICATION_TYPE': 'float64',
 'PROJECT_TERMS': 'string',
 'ORG_CITY': 'object',
 'ORG_DEPT': 'object'}